#基本はgithub.com のレポジトリーを指定するだけ
[[plugins]]
repo = 'Shougo/dein.vim'

# git clone 後、実行すべきコマンドがある場合はこんな感じ
#[[plugins]]
#repo = 'Shougo/vimproc.vim'
#hook_post_update = '''
#if dein#util#_is_windows()
#let cmd = 'tools\\update-dll-mingw'
#elseif dein#util#_is_cygwin()
#let cmd = 'make -f make_cygwin.mak'
#elseif executable('gmake')
#let cmd = 'gmake'
#else
#let cmd = 'make'
#endif
#let g:dein#plugin.build = cmd
#'''

# ブランチやタグを指定したいとき
[[plugins]]
repo = 'delphinus35/typescript-vim'
rev  = 'colorize-template-strings'

# 特定の条件で読み込みたいとき
[[plugins]]
repo = 'elzr/vim-json'
if   = '''! has('kaoriya')'''

# 依存関係を指定したいとき
[[plugins]]
repo    = 'vim-airline/vim-airline'
depends = ['vim-airline-themes']

# 依存関係を指定したからと言って、自動でインストールはされない（ここは NeoBundle と違う）
[[plugins]]
repo = 'vim-airline/vim-airline-themes'

[[plugins]]
repo = 'osyo-manga/vim-anzu'
#------------------------------
[[plugins]]
repo = 'Shougo/neocomplcache'
on_i = 1

[[plugins]]
repo = 'Shougo/vimshell.vim'

[[plugins]]
repo = 'Shougo/neosnippet-snippets'

[[plugins]]
repo = 'Shougo/neosnippet'
depends = ['Shougo/neosnippet-snippets']
on_i = 1
#on_ft = ['snippet']

[[plugins]]
repo = 'haya14busa/incsearch.vim'

[[plugins]]
repo = 'scrooloose/nerdtree'

[[plugins]]
repo = 'scrooloose/nerdcommenter'

[[plugins]]
repo = 'osyo-manga/vim-over'

[[plugins]]
repo = 'nathanaelkane/vim-indent-guides'

[[plugins]]
repo = 'ConradIrwin/vim-bracketed-paste'

[[plugins]]
repo = 'rhysd/accelerated-jk'

[[plugins]]
repo = 'vim-scripts/autodate.vim'

[[plugins]] # Toml
repo  = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'tyru/eskk.vim'

